<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card text-center">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form [formGroup]="loginFormCommandWay" *ngIf="loginFormCommandWay">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Username o email:</label>
                  <span class="dx-field-item-required-mark">&nbsp;*</span>
                  <dx-text-box [placeholder]="" formControlName="{{LoginConstants.USER_NAME}}" [showClearButton]="true" [isValid]="formService.isTouchedOrDirtyAndInvalid(LoginConstants.USER_NAME, loginFormCommandWay)">
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Constraseña:</label>
                  <span class="dx-field-item-required-mark">&nbsp;*</span>
                  <dx-text-box [placeholder]="" formControlName="{{LoginConstants.PASSWORD}}" [showClearButton]="true" [isValid]="formService.isTouchedOrDirtyAndInvalid(LoginConstants.PASSWORD, loginFormCommandWay)"
                    mode="password">
                  </dx-text-box>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Iniciar Sesión</a>
          </form>
        </div>
        <div class="card-footer text-muted">
          ¿No tienes una cuenta? Regístrate...
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <app-form-property [name]="'LoginFormGroup'" [form]="loginFormCommandWay"></app-form-property>
      <app-form-property [name]="'USER_NAME'" [form]="loginFormCommandWay.get(LoginConstants.USER_NAME)"></app-form-property>
      <app-form-property [name]="'PASSWORD'" [form]="loginFormCommandWay.get(LoginConstants.PASSWORD)"></app-form-property>
    </div>
  </div>
</div>