<div class="card mb-3" [ngClass]="getClassType('border')" style="max-width: 18rem;">
  <div class="card-header bg-transparent" [ngClass]="getClassType('border')">{{cardTittle | titlecase}}</div>
  <div class="card-body" [ngClass]="getClassType()"
  >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">id: {{apple?.id}}</li>
      <li class="list-group-item">Type: {{apple?.appleType}}</li>
      <li class="list-group-item">Has label: {{apple?.hasLabel}}</li>
      <li class="list-group-item">weight: {{apple?.weight | number}}</li>
      <li class="list-group-item">Price: {{apple?.price | currency}}</li>
    </ul>
  </div>
  <div class="card-footer text-muted">
      {{apple | json}}
  </div>
</div>