<div class="container">
  <app-login></app-login>
  <hr />
  <form [formGroup]="form" *ngIf="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Tipo Identificación</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-select-box [placeholder]="getPlaceholderByInputType(InputType.SelectBox)" [dataSource]="idTypes"
            searchEnabled="true" name="TYPE_ID" formControlName="{{AppConstants.TYPE_ID}}" displayExpr="value"
            valueExpr="id" showClearButton="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.TYPE_ID, form)"
            (onValueChanged)="onChangeIdType($event)">
          </dx-select-box>
          <app-show-error [formControl]="form.get(AppConstants.TYPE_ID)" ngDefaultControl></app-show-error>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Número Identificación</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-number-box [placeholder]="getPlaceholderByInputType(InputType.NumberBox)" min=0
            formControlName="{{AppConstants.ID_NUMBER}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.ID_NUMBER, form)"
            (onValueChanged)="onChangeIdNumber($event)">
          </dx-number-box>
          <app-show-error [formControl]="form.get(AppConstants.ID_NUMBER)" ngDefaultControl></app-show-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombres</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)"
            formControlName="{{AppConstants.NAME}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.NAME, form)"
            (onValueChanged)="onChangeName($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.NAME)" ngDefaultControl></app-show-error>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Apellidos</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)"
            formControlName="{{AppConstants.LAST_NAME}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.LAST_NAME, form)"
            (onValueChanged)="onChangeLastName($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.LAST_NAME)" ngDefaultControl></app-show-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Celular: {{formService.isTouchedOrDirtyAndInvalid(AppConstants.PHONE, form)}}</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.NumberBox)" min=0
            formControlName="{{AppConstants.PHONE}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.PHONE, form)"
            (onValueChanged)="onChangePhone($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.PHONE)" ngDefaultControl></app-show-error>
          <!-- <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.NumberBox)" min=0
            formControlName="{{AppConstants.PHONE}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.PHONE, form)"
            (onValueChanged)="onChangePhone($event)" [mask]="maskCelPhone" maskInvalidMessage="" [useMaskedValue]="false" showMaskMode="onFocus">
          </dx-text-box> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Dirección</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)"
            formControlName="{{AppConstants.ADDRESS}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.ADDRESS, form)"
            (onValueChanged)="onChangeAddress($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.ADDRESS)" ngDefaultControl></app-show-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="formGroupExampleInput">Correo</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)"
            formControlName="{{AppConstants.EMAIL}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.EMAIL, form)"
            (onValueChanged)="onChangeEmail($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.EMAIL)" ngDefaultControl></app-show-error>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="formGroupExampleInput">Contraseña</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)" mode="password"
            formControlName="{{AppConstants.PASSWORD}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.PASSWORD, form)"
            (onValueChanged)="onChangePassword($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.PASSWORD)" ngDefaultControl></app-show-error>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="formGroupExampleInput">Confirmar contraseña</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-box [placeholder]="getPlaceholderByInputType(InputType.TextBox)" mode="password"
            formControlName="{{AppConstants.PASSWORD_CONFIRM}}" [showClearButton]="true"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.PASSWORD_CONFIRM, form)"
            (onValueChanged)="onChangeConfirmPassword($event)">
          </dx-text-box>
          <app-show-error [formControl]="form.get(AppConstants.PASSWORD_CONFIRM)" ngDefaultControl></app-show-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="formGroupExampleInput">Descripción</label>
          <span class="dx-field-item-required-mark">&nbsp;*</span>
          <dx-text-area [placeholder]="getPlaceholderByInputType(InputType.TextBox)" maxLength="500"
            formControlName="{{AppConstants.DESCRIPTION}}"
            [isValid]="formService.isTouchedOrDirtyAndInvalid(AppConstants.DESCRIPTION, form)"
            (onValueChanged)="onChangeDescription($event)">
          </dx-text-area>
          <app-show-error [formControl]="form.get(AppConstants.DESCRIPTION)" ngDefaultControl></app-show-error>
        </div>
      </div>
    </div>
    <div class="row">
      <dx-button width="120" [text]="FormState.RESET" type="danger" (onClick)="formService.reset(form)"></dx-button>
      <dx-button width="120" [text]="FormState.DEFAULT" type="default" (onClick)="loadFormByState(FormState.DEFAULT)"></dx-button>
      <dx-button width="120" [text]="FormState.EDIT" type="info" (onClick)="loadFormByState(FormState.EDIT)"></dx-button>
      <dx-button width="120" [text]="FormState.DEFINITIVE" type="success" (onClick)="loadFormByState(FormState.DEFINITIVE)"></dx-button>
      <dx-button width="280" [text]="FormState.MARK_AS_DIRTY_AND_TOUCHED" type="default" (onClick)="formService.markAsTouchedAndMarkAsDirty(form)"></dx-button>
    </div>
    <pre>
      {{form.value|json}}
      {{form.errors|json}}
    </pre>
  </form>
</div>

<router-outlet></router-outlet>